<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
        <span class="site-description">{{ site.user_affiliation }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:zygong@mie.utoronto.ca"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Google Scholar" href="https://scholar.google.com/citations?user=J8TfnqkAAAAJ&hl=en"  target="_blank"><i class="icon fa fa-google"></i></a>
        <a aria-label="UofT AMNL" href="http://amnl.mie.utoronto.ca/"  target="_blank"><i class="icon fa fa-institution"></i></a>
        <a aria-label="Google Scholar" href="https://scholar.google.com/citations?user=J8TfnqkAAAAJ&hl=en"  target="_blank"><i class="icon fa fa-mortar-board"></i></a>
        <!-- 
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/mauriciourraco7"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/mauricio.urraco"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/murraco"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/murraco"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        -->
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
